@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{   
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:hsl(234, 29%, 20%);
    font-family: 'Roboto';
}

#login-form{
    padding: 15px;
    display: flex;
    background-color:hsl(0, 0%, 100%);
    border-radius:20px;
    
}

form{
    color:  hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
  
}
.mobile-image{
    display: none;
}
.login_form_list {
    display: flex;
    margin-bottom: 10px;
    
}

.login_form_list img{
    padding-right: 10px;
}

.login_list{
    
    font-size: 16px;
}

.login_title{

    color: hsl(235, 18%, 26%);
    font-weight: bolder;
    font-size: 55px;
   

}

.login_info_desktop{
    font-weight: 400;
    font-size: 16px;

}

.login_info_mobile{
    display: none;
    font-weight: 400;
}
.txt{
    display: flex;
    justify-content: space-between;
}

.error_text{
    display: none;
    color: red;
    font-size: 13px;
}

.email-text{
    font-size: 13px;
    color: hsl(235, 18%, 26%);
    font-weight: 700;


}

.emailaddress{
    cursor: pointer;
    padding: 20px;
    color: hsl(231, 7%, 60%);
    border-radius:10px;

   border: 1px solid rgba(0, 0, 0, 0.699);
   background-color: hsla(0, 0%, 93%, 0.37);

}

.emailaddress:invalid{
    border: 1px solid hsl(4, 98%, 55%) ;
    background-color: hsla(4, 92%, 65%, 0.37);
}

.submit{

    color: hsl(0, 0%, 100%);
    background-color: hsl(235, 18%, 26%);
    padding: 20px;
    border-radius:10px;
    border-style: none;
    font-weight:700;
    transition: all 0.5s ease;

}

.submit:hover{
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
}


#success-page{
    display: none;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    border-radius: 15px;
}

#success-page img{
    margin-right: auto;
    height: 50px;
}

#success-page h1{
    color: hsl(235, 18%, 26%);
    font-weight: bold;
    font-size: 5opx;

}

#success-page p{
    font-size: 14px;
    color: hsl(234, 29%, 20%);
    font-weight: 400;
}

#success-page p strong{

    color: hsl(234, 29%, 20%);
}

#success-page button{
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-style: none;

}

#success-page button:hover{
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
}


.attribution {
    color: #fff;
     font-size: 11px;
      text-align: center; 

    }
    
.attribution a { 

    color: orange; 

}

@media only screen and (max-width:700px){

    body{
        margin: 0px;
        background-color: hsl(0, 0%, 100%);
    }

    #login-form{
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
     
    .desktop-image{
        display: none;
    }
    .mobile-image{
        display: block;
        max-width: 100%;
        
    }

    form{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .login_title{
        font-size:40px ;
    }

    .login_list{
    
        font-size: 16px;
    }
    .login_info_desktop{
        display: none;
        font-weight: 400;
        font-size: 16px;
    
    }
    
    .login_info_mobile{
        display: flex;
        font-weight: 400;
    }
    .txt{
        display: flex;
        justify-content: space-between;
    }
    
    .error_text{
        display: none;
        color: red;
        font-size: 10;
    }

    .emailaddress:invalid{
        border: 1px solid hsl(4, 98%, 55%) ;
        background-color: hsla(4, 92%, 65%, 0.37);
    }

    #success-page img{
       margin-top: 90px;
    }

    #success-page p{
        margin-bottom: 250px;
    }

    .attribution {
        color:black ;
        font-weight: bold;
        font-size: 12px;
      
    }

}


@media only screen and (max-width:375px) {
    .login_info_mobile{
        display: flex;
        font-weight: 400;
        font-size: 15px;
    }
}

@media only screen and (max-width:320px) {

    .login_title{
        font-size:30px ;
    }

    .txt{
        display: flex;
        justify-content: space-between;
    }
    
    .error_text{
       display: none;
        color: red;
        font-size: 10px;
    }

    .login_info_desktop{
        display: none;
       
    
    }
    
    .login_info_mobile{
        display: flex;
        font-weight: 400;
    }
    

    .emailaddress:invalid{
        border: 1px solid hsl(4, 98%, 55%) ;
        background-color: hsla(4, 92%, 65%, 0.37);
    }
}